/*
Theme Name: BPO
Author: Patrik Bóna
Author URI: http://www.mrhead.sk/
*/

body {
	font-size: 62.5%; /* Resets 1em to 10px */
	font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-family: Arial, Verdana, 'Lucida Grande', Sans-Serif;
	background: #42413f url('images/body-bg.jpg');
}

#container {
	background: url('images/container-bg.jpg') no-repeat top center;
}

#header {
	width: 950px;
	height: 297px;
	margin: 0 auto;
	background: url('images/header-bg.png') no-repeat top center;
	position: relative;
}

#header .logo {
	position: absolute;
	top: 89px;
	left: 50px;	
}

#header .top {
	color: #a4a4a4;
	font-weight: bold;
	font-size: 1.1em;
	padding-top: 19px;
}

#header .top .left {
	float: left;
	padding-left: 35px;
}

#header .top .left span {
	color: white;	
}

#header .top .right {
	float: right;
	padding-right: 21px;
}

#header .top .right span, #header .top .right a {
	color: white;
	font-weight: normal;
	text-decoration: none;
}

#header .top .right a:hover {
	text-decoration: underline;	
}

#header .middle {
	height: 190px;	
}

#nav-menu {
	background: url('images/nav-menu-bg.png') no-repeat top left;
	height: 88px;
	width: 950px;
	overflow: hidden;
}

#nav-menu ul a {
	display: block;
	padding: 30px 14px 28px 14px;
	color: white;
	text-decoration: none;
	font-size: 1.2em;
	background: url('images/nav-menu-li-bg.png') no-repeat top right;
}

#nav-menu ul li:last-child a {
	background: none;	
}

#nav-menu ul li {
	float: left;
	position: relative;
}

#nav-menu ul li li {
	float: none;	
}

/* hide from IE mac \*/
#nav-menu ul li {position: static; width: auto;}
/* end hiding from IE5 mac */

#nav-menu ul li ul, #nav-menu ul ul li  {

}

#nav-menu ul li ul {
	position: absolute;
	display: none;
	background: #96000f;
}

#nav-menu ul li:hover ul, #nav-menu ul li.p7hvr ul {
	display: block;
}

#nav-menu ul a:hover, #nav-menu ul .current a, #nav-menu ul li:last-child a:hover {
	background: url('images/nav-menu-li-current-bg.png') repeat-x top left;
}

#nav-menu ul ul li {
	
}

#nav-menu ul ul a, #nav-menu li.current ul a {
	background: none;
	padding: 18px 14px 18px 14px;
}

#nav-menu li li.current a:hover, #nav-menu li li a:hover, #nav-menu ul li li:last-child a:hover {
	background: #a70818;	
}

#main {
	width: 950px;
	margin: 0 auto;
	padding-top: 10px;
	background: url('images/main-bg.png') repeat-y top left;	
}

#main .left {
	width: 620px;
	float: left;
	margin-left: 55px;	
	/*color: #616161;*/
	color: #414141;
	font-size: 1.2em;
	line-height: 1.6;
	padding-top: 5px;
	display: inline;
}

#main .left a {
	color: #c71738;	
}

#main .left p, #main .left ul, #main .left ol {
	margin-bottom: 20px;	
}

#main .left h1, #main .left h2, #main .left h3, #main .left h4, #main .left h5, #main .left h6 { 
	color: #005834;
	margin-bottom: 15px;
}

#main .left h1 {
	font-size: 1.7em;	
}

#main .left h2 {
	font-size: 1.4em;	
}

#main .left h3 {
	font-size: 1.3em;	
}

#main .left h4 {
	font-size: 1.2em;	
}

#main .left h5 {
	font-size: 1.1em;	
}

#main .left img {
	padding: 4px;
	border: 1px solid #dadada;	
}

#main .left ul {
	list-style: disc;
	margin-left: 30px;	
}
	
#main .right {
	width: 236px;
	float: right;	
}

#main .bottom {
	height: 36px;
	background: url('images/main-bottom-bg.png') no-repeat top left;
}

#main .widget .main {
	background: url('images/widget-bg.png') repeat-x top left;
	width: 198px;
	margin-left: 1px;
	padding-left: 12px;
	font-size: 1.1em;
	color: #454545;
	line-height: 1.4;
	padding-bottom: 1px;
}

#main .widget .main a {
	color: #c71738;	
}

#main .widget.kontakt .main {
	padding-left: 30px;
	width: 180px;	
}

#main .widget h3 {
	height: 38px;
	color: white;
	font-size: 1.2em;
	padding: 15px 20px 0 31px;
}

#main .widget.green h3 {
	background: url('images/widget-green-h3-bg.png') no-repeat top left;	
}

#main .widget.red h3 {
	background: url('images/widget-red-h3-bg.png') no-repeat top left;	
}

#main .widget p {
	margin-bottom: 20px;	
}

#main .widget ul {
	margin-bottom: 10px;	
}

#main .widget li {
	padding-left: 19px;
	background: url('images/widget-li-bg.gif') no-repeat 5px left;
	margin-bottom: 3px;	
}

#main .widget li.link {
	background: url('images/widget-li-link-bg.gif') no-repeat 5px left;
	font-weight: bold;
	margin-top: 10px;
}

#footer {
	width: 950px;
	height: 31px;
	margin: 0 auto;
	background: url('images/footer-bg.png') no-repeat top left;
	color: #a0a0a0;
	font-size: 1.1em;
	padding-top: 28px;
}

#footer a {
	color: #a0a0a0;	
}

#footer .left {
	float: left;
	padding-left: 52px;	
}

#footer .left span {
	color: white;	
}

#footer .right {
	float: right;
	padding-right: 43px;
}

#footer .right a {
	margin-left: 2px;
	margin-right: 2px;	
} 

/* Begin Images */
p img {
	padding: 0;
	max-width: 100%;
	}

/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',
	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

img.alignright {
	margin: 0 0 10px 10px;
	display: inline;
	}

img.alignleft {

	margin: 0 10px 10px 0;
	display: inline;
	}

.alignright {
	float: right;
	}

.alignleft {
	float: left;
	}
/* End Images */




/* Captions */
.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}